$break-phone: 768px;
$break-tablet: 992px;

.quick-add-to-cart-form {
  margin-top: 5px;

  .fields {
    height: 33px;

    .add-quantity, .add-button {
      height: 100%;
      display: inline-block;
    }

    .add-quantity {
      width: 50px;
      margin-right: 5px;
    }

    .add-button {
      width: 105px;
    }
  }

}

@media screen and (max-width: $break-phone) {
  .quick-add-to-cart-form {

    .fields {
      .add-quantity {
        width: 20px;
        margin-right: 5px;
      }

      .add-button {
        width: 100px;
        font-size: 12px;
      }
    }
  }
}

.quick-cart-flash {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  color: white;
  overflow: hidden;

  &.success {
    background: #8dba53;
  }

  &.error {
    background: #e45353;
  }
}
