.quick-add-to-cart-form {
  margin-top: 5px;

  .fields {
    height: 33px;

    .add-quantity, .add-button {
      height: 100%;
      display: inline-block;
    }

    .add-quantity {
      width: 50px;
      margin-right: 5px;
    }
  }



}
